<ion-header>
  <ion-toolbar>
    <ion-title>
      Authorization
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <ion-card>
    <ion-card-content>
      <ion-img style="margin:auto; width: 100px; height: 100px; "  src="/assets/surbot.jpg"></ion-img>
      <form action="#" class="ho-form ho-form-boxed" [formGroup]="loginForm">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [type]="'password'" formControlName="password"></ion-input>
        </ion-item>

        <ion-button [disabled]="loading" expand="block" (click)="login()">Login</ion-button>
        <div style="float: right; font-size: 10px;">
          <ion-label>Not yet registered?</ion-label><ion-button size="small" style="font-size: 10px;" routerLink="/auth/register" fill="clear">Register</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>



</ion-content>
