<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        SurBot
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p style="float:left">
        <ion-img style="width: 100px; height: 100px; float: right;"  src="/assets/surbot.jpg"></ion-img>
        is a system to control robot that allows you to draw any content sourced from
        the web - and update it in real time. The small SurBot robot allows users to
        personalise their walls with digital artworks.
      </p>
      <p>Drawing a picture, graphic, memo, or any other image on the wall with SurBot is incredibly simple. First of all, you need to connect the robot artist to the outlet and set up its synchronization with the mobile application.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
