<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Drawing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
     <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title text-center>Welcome to Surbot</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p text-center>Choose figure to draw</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">




    </ion-list>

    <ion-grid>
        <ion-row align-items-center>
            <ion-col text-center>
                <ion-button  size="large" (click)="sendRequest(3)" >
                    <ion-img style="height: 50px" src="/assets/s.png"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col text-center>
                <ion-button  size="large" (click)="sendRequest(1)">
                    <ion-img style="height: 50px" src="/assets/m.png"></ion-img>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col text-center>
                <ion-button  size="large"  (click)="sendRequest(2)">
                    <ion-img style="height: 50px" src="/assets/t.png"></ion-img>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
