<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-button style="float: left;" [routerLink]="'/auth'" >
        <ion-icon name="log-out"></ion-icon>
        Logout
      </ion-button>
    </ion-item>
    <div *ngIf="user">
      <ion-item class="activated" >
        <ion-label>
          <ion-icon name="contact" slot="start"></ion-icon>
        </ion-label>
        <ion-text>{{user.name}}</ion-text>
      </ion-item>
      <ion-item class="activated">
        <ion-label>
          <ion-icon name="mail" slot="start"></ion-icon>
        </ion-label>
        <ion-text>{{user.email}}</ion-text>
      </ion-item>
    </div>
  </ion-card>

</ion-content>
