<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item href="#" class="activated">
      <ion-label>
        <ion-icon name="contact" slot="start"></ion-icon>
      </ion-label>
      <ion-text>Nuradinova Amina </ion-text>
    </ion-item>
    <ion-item href="#" class="activated">
      <ion-label>
        <ion-icon name="call" slot="start"></ion-icon>
      </ion-label>
      <ion-text>+7 777 777 7777</ion-text>
    </ion-item>
    <ion-item href="#" class="activated">
      <ion-label>
        <ion-icon name="mail" slot="start"></ion-icon>
      </ion-label>
      <ion-text>beksultankyzy.a@gmail.com</ion-text>
    </ion-item>
  </ion-card>

</ion-content>
